<launch>
    <include file="$(find mavros)/launch/apm.launch"/>

    <node pkg="kkctbn2020" name="receiver" type="receiver.py" output="screen"/>
    <node pkg="kkctbn2020" name="auto_control" type="auto_control.py" output="screen"/>
    <node pkg="kkctbn2020" name="server" type="server.py" output="screen"/>
    <node pkg="kkctbn2020" name="throttle_pwm" type="throttle_pwm.py" output="screen"/>

</launch>